.header {
    position: fixed;
    top: 0;
    right: 0;
    min-width: 100%;

    padding: 1rem;
    background-color: #f6fafb;
    border-bottom: 2px solid #e9f3f5;
    z-index: 999;
    display: grid;
    place-items: center;
}

.nav {
    padding: 1.3rem 3rem;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.nav__content {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section__name {
    position: relative;
}
.section__name h3 {
    font-size: 2rem;
    font-weight: 700;
}

.section__name::after {
    content: "'";
    position: absolute;
    bottom: -28px;
    left: -7px;
    width: 11rem;
    height: 4px;
    background-color: #714dd9;
}
.profile__section .Profile__section__list {
    display: flex;
    align-items: center;
    gap: 1.4rem;
    cursor: pointer;
}
.profile__section span {
    font-size: 1.4rem;
}
.hamburgerMenu {
    display: none;
}

@media screen and (max-width: 1226px) {
    .nav__content {
        width: 75%;
    }
}
@media screen and (max-width: 1049px) {
    .nav__content {
        width: 72%;
    }
}
@media screen and (max-width: 929px) {
    .nav__content {
        width: 69%;
    }
}
@media screen and (max-width: 816px) {
    .nav__content {
        width: 65%;
    }
}

@media screen and (max-width: 780px) {
    .hamburgerMenu {
        display: block;
    }
    .section__name {
        display: none;
    }
    .nav {
        justify-content: space-between;
        padding-left: 1.8rem;
        padding-right: 1.8rem;
    }
    .nav__content {
        width: 100%;
    }
    .Profile__section__list img {
        width: 2.4rem;
        height: 2.4rem;
    }
    .Profile__section__list img:last-child {
        width: 1.2rem;
        height: 1.2rem;
    }
    .profile__section span {
        font-size: 1rem;
    }
}
