/* RE-USABLE CSS */

.button {
    width: 170px;
    background-color: #714dd9;
    padding: 1.4rem;
    border-radius: 8px;
}

.sidebar__container {
    position: fixed;
    max-width: 250px;
    width: 100%;
    min-height: 100vh;
    padding: 2.4rem 4rem;
    background-color: #f6fafb;
    border-right: 2px solid #e9f3f5;
}

.logo__container {
    margin-bottom: 3rem;
}

.todo__button {
    display: flex;

    align-items: center;
    justify-content: center;
    margin: 0 0 4rem 0;
}
.todo__button span {
    font-size: 1.4rem;
    font-weight: 600;
    color: #fafafa;
    margin-left: 1rem;
    line-height: 164%;
}

.side__link a {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 3.3rem;
}
.side__link span {
    font-size: 1.6rem;
    font-weight: 400;
    color: #333333;
}
