.modal__container {
    position: absolute;
    top: -90px;
    left: 0;
    display: grid;
    place-content: center;
    justify-items: center;
    min-height: 100vh;
    height: 100%;
    width: 100%;
}

.backdrop {
    position: absolute;
    height: 100vh;
    height: 120%;
    width: 100%;
    top: 89px;
    background-color: #000;
    opacity: 0.3;
    z-index: 99999;
}
.backdrop.closeModal,
.modal__container.closeModal {
    display: none;
}

.modal {
    display: grid;
    place-items: center;
    min-width: 600px;
    /* width: 300px; */
    height: 300px;
    padding: 12px 20px;
    padding-top: 0;
    overflow: hidden;

    background-color: #fff;
    border-radius: 9px;

    position: relative;
    z-index: 999999;
}
.closeModal {
    /**/
}
.top__modal {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 3rem;
    width: 100%;
    padding: 21px 0;
}
.top__modal p {
    font-size: 1.4rem;
    text-align: center;
}
.top__modal h4 {
    font-size: 1.8rem;
}

.bottom__modal .button {
    color: #fff;
    border: none;
}

@media screen and (max-width: 919px) {
}
@media screen and (max-width: 663px) {
    .modal__container {
        grid-template-columns: 1fr;
        height: 146%;
    }
    .modal {
        min-width: auto;
        width: 90%;
        height: 280px;
    }
}
